<!-- Validation failure messages -->
<% if @add.errors.any? %>
  <% @add.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Add</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_add" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for media_id -->
      <div class="form-group">
        <label for="media_id" class="control-label">
          Media
        </label>

        <input type="text" id="media_id" name="media_id" placeholder="Media" class="form-control" value="<%= @add.media_id %>">
      </div>

      <!-- Label and input for playlist_id -->
      <div class="form-group">
        <label for="playlist_id" class="control-label">
          Playlist
        </label>

        <input type="text" id="playlist_id" name="playlist_id" placeholder="Playlist" class="form-control" value="<%= @add.playlist_id %>">
      </div>

      <button class="btn btn-success">
        Create Add
      </button>
      or
      <a href="/adds">Cancel</a>
    </form>
  </div>
</div>
